<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>register.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>FriendProfile</display-name>
    <servlet-name>FriendProfile</servlet-name>
    <servlet-class>Search.FriendProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendProfile</servlet-name>
    <url-pattern>/FriendProfile</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>Notification</display-name>
    <servlet-name>Notification</servlet-name>
    <servlet-class>friend.Notification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Notification</servlet-name>
    <url-pattern>/Notification</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Post</display-name>
    <servlet-name>Post</servlet-name>
    <servlet-class>post.Post</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Post</servlet-name>
    <url-pattern>/Post</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Requestcount</display-name>
    <servlet-name>Requestcount</servlet-name>
    <servlet-class>friend.Requestcount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Requestcount</servlet-name>
    <url-pattern>/Requestcount</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>Frndrqstsend</display-name>
    <servlet-name>Frndrqstsend</servlet-name>
    <servlet-class>friend.Frndrqstsend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Frndrqstsend</servlet-name>
    <url-pattern>/Frndrqstsend</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>login.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>login.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImage</display-name>
    <servlet-name>UploadImage</servlet-name>
    <servlet-class>com.upload.UploadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImage</servlet-name>
    <url-pattern>/UploadImage</url-pattern>
  </servlet-mapping>
   <servlet>
   <display-name>Makefrnd</display-name>
        <servlet-name>Makefrnd</servlet-name>
        <servlet-class>com.upload.Makefrnd</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Makefrnd</servlet-name>
        <url-pattern>/Facebook/Makefrnd</url-pattern>
    </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>Uploadprofileimage</display-name>
    <servlet-name>Uploadprofileimage</servlet-name>
    <servlet-class>upload.Uploadprofileimage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Uploadprofileimage</servlet-name>
    <url-pattern>/Uploadprofileimage</url-pattern>
  </servlet-mapping>

  <display-name>Facebook</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>